---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: check-json
      - id: check-xml
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-dependabot
  #    - repo: https://github.com/adrienverge/yamllint.git
  #      rev: v1.21.0
  #      hooks:
  #          - id: yamllint
  #            args: [--format, parsable]
  #    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  #      rev: 0.2.3
  #      hooks:
  #          - id: yamlfmt
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.0
    hooks:
      - id: prettier
        #            types: [java, xml]
        additional_dependencies:
          - prettier@3.3.3
          - prettier-plugin-java@v2.6.4
          - "@prettier/plugin-xml@v3.4.1"
        args:
          - --write
          - --list-different
          - --ignore-unknown
